.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.cube {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cube-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cube-row.error {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
}

.letter {
  align-items: center;
  border: 2px solid #d3d6da;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 700;
  height: 60px;
  justify-content: center;
  text-transform: uppercase;
  width: 60px;
}

.message {
  background: #787c7e;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  position: absolute;
  top: 10%;
}

.reset-board {
  background: none;
  color: #6aaa64;
  font-size: 38px;
  padding: 5px 5px 5px 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.top {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.absent {
  background: #787c7e;
  color: #fff;
}

.correct {
  background: #6aaa64;
  color: #fff;
}

.present {
  background: #c9b458;
  color: #fff;
}
