.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--light-gray);
  height: var(--header-height);
  padding: 0px var(--header-padding-x);

  .icon {
    color: #000;
    font-size: 3.5rem;
  }

  .title {
    flex-grow: 2;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    pointer-events: none;
    text-align: center;
  }
}
