@use "../utils" as *;

:root {
  --color-absent: #787c7e;
  --color-correct: #6aaa64;
  --color-present: #c9b458;
  --gray: #878a8c;
  --light-gray: #d3d6da;
  --outline: #2671dc;

  --board-height: 420px;
  --board-width: 350px;
  --font-sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-serif: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --game-max-width: 500px;
  --header-height: 40px;
  --header-padding-x: 16px;
  --keyboard-height: 200px;

  @include breakpoint(small) {
    --header-height: 65px;
  }

  @include breakpoint(medium) {
    --header-padding-x: 20px;
  }

  @include breakpoint(large) {
    --header-padding-x: 24px;
  }
}
