.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  padding: 10px;
  height: min(
    calc(100dvh - var(--header-height) - var(--keyboard-height) - 10px),
    var(--board-height)
  );
  width: min(
    calc(100dvh - var(--header-height) - var(--keyboard-height) - 10px) * 5 / 6,
    var(--board-width)
  );

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
}
