.instructions-container {
  font-family: sans-serif;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: 0.8rem 2.4rem;

  &__title {
    font: {
      family: var(--font-sans-serif);
      size: 3rem;
      weight: 700;
    }
    padding-bottom: 1.5rem;
    text: {
      align: center;
      transform: uppercase;
    }
  }

  &__list {
    font-weight: 500;
    list-style-type: disc;
    margin-block: 1rem;
    padding-left: 2rem;

    &__item {
      margin-bottom: 4px;

      &::marker {
        font-size: 1.8rem;
      }
    }
  }

  &__tile-container {
    display: inline-block;
    height: 3.2rem;
    margin-right: 4px;
    width: 3.2rem;
  }

  &__example {
    margin: 0.8rem 0 2rem 0;

    &__paragraph {
      line-height: 2rem;
      margin-top: 0.8rem;
    }
  }
}
